// Footer
footer
  .container.p-4
    .row
      #opening-hours.col-12.col-lg-3
        h5 Opening Hours
        p
          i.fas.fa-angle-right
          |                           Mon-Fri: 8:30am - 5:30pm
      #contact-info.col-12.col-lg-4
        h5 Contact Info
        address
          i.fas.fa-location-arrow
          |                           123 Cherry Lane
          br
          |                           Walloby State, OP 80863
        p
          i.fas.fa-phone
          |                           225-123-4567
        p
        p
          i.fas.fa-envelope
          |  stampconcrete@email.com
      #footer-links.col-12.col-lg-2
        h5 Quick Links
        ul.arrow-bullet.pl-0
          li
            i.fas.fa-angle-right
            a(href='index.html')  Home
          li
            i.fas.fa-angle-right
            a(href='index.html')  About Us
          li
            i.fas.fa-angle-right
            a(href='index.html')  Services
          li
            i.fas.fa-angle-right
            a(href='index.html')  Gallery
          li
            i.fas.fa-angle-right
            a(href='index.html')  Contact
      #social-links.col-12.col-lg-2
        h5 Social Media
        ul.arrow-bullet.pl-0
          li
            i.fab.fa-facebook-f
            a(href='index.html')  Facebook
          li
            i.fab.fa-twitter
            a(href='index.html')  Twitter
          li
            i.fab.fa-snapchat-ghost
            a(href='index.html')  Snapchat
