extends layout.pug

block content
    // About Content
    // Map
    div
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.0768779152427!2d-87.6470520493035!3d41.93419937911582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd309e6b2cf05%3A0x907bd32e1a90974b!2sWalmart+Neighborhood+Market!5e0!3m2!1sen!2sus!4v1523644664816' width='600' height='450' frameborder='0' style='border:0' allowfullscreen='')
