extends layout

block navcontent
    a.nav-link(href='./contact') Contact

block content
    // About Content
    // About Jumbotron
    // About Stamp Concrete
    // About Founder
    // Credentials
