extends layout

block navcontent
    a.nav-link(href='./contact') Contact

block content
    // Gallery Content
    header
        // Gallery Jumbotron
        .container-fluid.pl-0.pr-0
            #gallery-jumbo.row.h-200
                .col-12.text-center.my-auto
                    h1.display-4.green.align-middle Gallery
                    hr#jumbotron-hr.align-middle
    main
        .container-fluid
            .row
                .container.p-5
                    h1.text-center Content Coming Soon.
