extends layout

block navcontent
    a.nav-link(href='./contact') Contact

block content
    // Services Content
    header
        // Services Jumbotron
        .container-fluid.pl-0.pr-0
            #services-jumbo.row.h-200
                .col-12.text-center.my-auto
                    h1.display-4.orange.align-middle Services
                    hr#jumbotron-hr.align-middle
    main
        .container-fluid
            // What We Offer
            .row.p-4
                .col-12.text-center
                    h2.p-2 What We Offer
                #whatwedo-container.container-fluid
                    .row    
                        .col-12.col-md-6.d-flex.flex-column.flex-md-row.justify-content-center
                            .order-2.order-md-1.col-md-10
                                h5 Renovations
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .align-self-center.icon-container.order-1.order-md-2.col-md-1.mx-auto.fixed-width.fa-2x
                                span.fa-layers.fa-fw
                                    i.fas.fa-circle(style='color:green')
                                    i.fa-inverse.fas.fa-wrench(data-fa-transform='shrink-6')
                        .col-12.col-md-6.d-flex.flex-column.flex-md-row.justify-content-center
                            .order-2.order-md-1.col-md-10
                                h5 Consulting
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .align-self-center.icon-container.order-1.order-md-2.col-md-1.mx-auto.fixed-width.fa-2x
                                span.fa-layers.fa-fw
                                    i.fas.fa-circle(style='color:green')
                                    i.fa-inverse.fas.fa-wrench(data-fa-transform='shrink-6')                      
                        
                    .row
                        .col-12.col-md-6.d-flex.flex-column.flex-md-row.justify-content-center
                            .order-2.order-md-1.col-md-10
                                h5 Planning
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .align-self-center.icon-container.order-1.order-md-2.col-md-1.mx-auto.fixed-width.fa-2x
                                span.fa-layers.fa-fw
                                    i.fas.fa-circle(style='color:green')
                                    i.fa-inverse.fas.fa-wrench(data-fa-transform='shrink-6')
                        .col-12.col-md-6.d-flex.flex-column.flex-md-row.justify-content-center
                            .order-2.order-md-1.col-md-10
                                h5 Design
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            .align-self-center.icon-container.order-1.order-md-2.col-md-1.mx-auto.fixed-width.fa-2x
                                span.fa-layers.fa-fw
                                    i.fas.fa-circle(style='color:green')
                                    i.fa-inverse.fas.fa-wrench(data-fa-transform='shrink-6')
                    
            // Pricing
            #pricing.row.p-5
                .col-12.text-center
                    h2 We have affordable pricing.
            
            // Contact Us
            #contact-us.row.p-5
                .col-12.text-center
                    h2.p-2 Let us create for you.
                    a(href='./contact').m-2
                        button.btn.btn-success(type='button') Contact
