extends layout

block navcontent
    a.nav-link(href='./contact') Contact

block content
    // Services Content
    header
        // Services Jumbotron
        .row
          #jumbo.container-fluid.pl-0.pr-0
              #services-jumbo.jumbotron.jumbotron-fluid
                  .container
                      h1.display-4.text-center.orange Our Services
                      hr#jumbotron-hr
    main
        .container-fluid
            .row
                .container.p-5
                    h1.text-center Content Coming Soon.
