body {

}

li {
    list-style-type: none;
}

#header-container {
    opacity: 0.9;
}

#header-container a {
    color: #ffb200;
    text-decoration: none;
}

#header-container a:hover {
    background-color: gray;
}

#logo {
    width: 50px;
    height: 50px;
}

#index-header {
    background-image: url(/static/img/construction-night.png);
    background-size: cover;
    height:100vh;
    min-height:400px;
}

#site-name {
    font-size: 1.4rem;
    font-weight: bold;
}

.scrolled {
    background-color: #333333;
}

.title {
    color: #888888;
}

.larger-icon {
    font-size: 50px;
    color: #cc290e;
}

/*=====================================
Change Menu Icon Color
=======================================*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*==========================================
What We Do - Our Services
===========================================*/
#whatwedo {
    background-color: #f2f2f2;
}

.center {
    text-align: center;
}

#whatwedo h6 {
    font-weight: bold;
}

/*==========================================
About Us
===========================================*/
#about-accomplishments {
    background-color: #354755;
    font-size: 35px;
    text-align: center;
}

#about-accomplishments p {
    color: #fdb817;
}

.icon-white {
    color: white;
}

/*==========================================
Contact
===========================================*/
#contact-title {
    text-align: center;
}

/*==========================================
Footer
===========================================*/
footer {
    background-color: #202e31;
    padding-top: 0;
}

footer h5 {
    color: #f2f2f2;
}

.fa-location-arrow,
.fa-phone,
.fa-envelope,
.fa-angle-right,
.fa-facebook-f,
.fa-twitter,
.fa-snapchat-ghost {
    color: #f2f2f2;
}

#contact-info,
#opening-hours p {
    color: #ffb200;
}

#footer-links ul li a,
#social-links ul li a {
    color: #ffb200;
    text-decoration: none;
}

.arrow-bullet li ::before {

}
/*=====================================
About Us Page
=======================================*/
#about-jumbo {
    background: linear-gradient(#464646, transparent 90%),
    #464646 url(/static/img/con2.jpg) no-repeat;
    height: 400px;
    background-size: cover;
}

#jumbotron-hr {
    width: 30%;
    height: 1px;
    background-color: #ffb719;
}

#credentials,
#mission,
#why-us {
    background-color: #f2f2f2;
}

#mission {
    background-image: url(/static/img/con4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.orange {
    color: #ffb719;
}

.bold {
    font-weight: bold;
}

.fas.fa-wrench {
    text-align: center;
}
/*=====================================
Services Page
=======================================*/
#services-jumbo {
    background: linear-gradient(#464646, transparent 90%),
    #464646 url(/static/img/con1.jpg) no-repeat;
    height: 400px;
    background-size: cover;
}

.fixed-width {
    width: 100px;
}

#whatwedo-container h5 {
    font-weight: bold;
}

#pricing {
    background-color: green;
}

#pricing h2,
#contact-us h2 {
    color: white;
}

#contact-us {
    background-color: #f2f2f2;
}

#contact-us h2 {
    color: green;
}
/*=====================================
Gallery Page
=======================================*/
#gallery-jumbo {
    background: linear-gradient(#464646, transparent 90%),
    #464646 url(/static/img/con1.jpg) no-repeat;
    height: 400px;
    background-size: cover;
}
/*=====================================
Contact Page
=======================================*/
#contact-jumbo {
    background: linear-gradient(#464646, transparent 90%),
    #464646 url(/static/img/con1.jpg) no-repeat;
    height: 400px;
    background-size: cover;
}




/*=====================================
Change Menu Icon Color
=======================================*/
/* ======================================================
Media Queries
=========================================================*/

@media (max-width: 311px) {
    #site-name {
        font-size: 1rem;
        padding-top: 10px;
    }
}

@media (max-width: 578px) {
    #jumbo {
        padding-top: 50px;
    }
}

@media (max-width: 768px) {
    #header-container {
        background-color: #333333;
        width: 100%;
    }
}

@media (min-width: 768px) {
    #toggleButton {
        display: none;
    }

    #header-container {
        color: #ffb200;
        text-decoration: none;
    }

    #buttonContainer {
        display: none;
    }
}
